# Dependencies
/vendor/
/node_modules/

# Temporary files
*.log
*.zip
/dist/
/var/
/cache/
/tmp/

# IDE
/.idea/
/.vscode/

# OS
.DS_Store
Thumbs.db

# PrestaShop runtime files
/config_*.xml
!/config_it.xml
/config/xml/
